:root {
    --accent-color:#2196F3;
    --link-accent-color:#2196F3;
    --primary-font:'Roboto', sans-serif;
    --logo-font:'Raleway',sans-serif;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* --transition-duration: 250ms; 
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1); */
}


.list {
    list-style: none;
}
/* */

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}
/* .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} */
.container {
    padding-left: 15px;
    padding-right: 15px;


}
@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

}
@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
/* ============== COMPONENTS ================*/

.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin:-1px;
    padding: 0;
    overflow: hidden;
    border:0;
    clip: rect(0 0 0 0);
}
.logo-start {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-end-header {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-end-footer {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
}

/* ============== /COMPONENTS ================*/


/* ============== HEADER ================*/
.header {
    border-bottom: 1px solid #ECECEC;

}
/* 0px - 1199px */
@media screen and (max-width:1199px) {  
   
}

/* 0px - 767px */
@media screen and (max-width:767px) {
    .menu {
        display: none;
        }

    .header-contact {
        display: none;
        }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
}
    .header-btn_open {
        padding: 0;
        border: none;
        line-height: 0;
        background: transparent;
}
    .header-btn_open_icon {
        fill:#000000;
}
    .header-btn_open:hover .header-btn_open_icon,
    .header-btn_open:focus .header-btn_open_icon {
        fill: var(--link-accent-color);
}
    .logo-start {
        font-family: var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;

        letter-spacing: 0.03em;
        color: #2196F3;
}

    .logo-end-header {
        font-family: var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
}



    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        top:0;
        left:0;
        background-color: white;
        transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateX(100%);
}
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
}


    .mobile-menu-content {
        padding-left: 40px;
        padding-top:48px ;
        padding-bottom: 58px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        position: relative;
}
    .mobile-menu_close-btn {
        padding: 0;
        border: none;
        line-height: 0;
        background: transparent;
        position: absolute;
        right: 15px;
        top: 10px;
}

    .mobile-menu_close-icon {   
        fill: #212121;

}

    .mobile-menu_close-btn:hover .mobile-menu_close-icon,
    .mobile-menu_close-btn:hover .mobile-menu_close-icon {
        fill: var(--link-accent-color)
}
    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        grid-row-gap: 32px;
}

    .mobile-menu-list-item {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121;
}
    .current {
        color: var(--link-accent-color);
    }

    .mobile-menu-contact {
        display: flex;
        flex-direction: column;
        grid-row-gap: 64px;
}
    .mobile-menu-contact_list {
        display: flex;
        flex-direction: column;
        grid-row-gap: 32px;
}
    .mobile-menu-contact_list {
        display: flex;
        flex-direction: column;
        grid-row-gap: 32px;
}

    .mobile-menu-contact_list_phone {
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17em;
        letter-spacing: 0.02em;
        color: #2196F3;

}
    .mobile-menu-contact-list_email {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16em;
        letter-spacing: 0.02em;
        color: #757575;
}
    .mobile-menu-social {
        display: flex;
        flex-wrap: wrap;
}
    .mobile-menu-social-item {

}
    .mobile-menu-social-item:not(:first-child) {
        padding-left: 10px;
}
    .mobile-menu-social-item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
}
    .mobile-menu-social-list_link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22em;
        letter-spacing: 0.02em;
        color: #2196F3;
}

}


/* 768 px - */
@media screen and (min-width:768px) {
    .header-btn_open {
        display: none;
        }
    .mobile-menu {
        display: none;
    }
    .header-container {
        padding-top: 21px;
        padding-bottom: 21px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page {
    display: flex;
    align-items: center;
    column-gap: 88px;
    flex-wrap: wrap;
    }
    .menu {
        column-gap: 50px;
        flex-wrap: wrap;
        display: flex;
        }
    .menu-link {
    
        font-weight: 500;
        font-size: 14px;
        line-height: 0.14;
        letter-spacing: 0.02em;
        color: #212121;
        }
    
    .menu-link:hover,
    .menu-link:focus {
        color: var(--link-accent-color);
        }
    .menu-link.current {
    color: var(--link-accent-color);
    position: relative;
    }

    .menu-link.current::after {
        content: '';
        width: 100%;
        height: 4px;
        background: #2196F3;
        border-radius: 2px;
        display: block;
        position: absolute;
        bottom: -34px;
    }
    .header-contact {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        }
    
    .header-contact-item {
        display: flex;
        align-items: center;
        }
    
    .header-contact-link {
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        align-items: center;
        }
    
        .header-contact-link:hover,
        .header-contact-link:focus {
            color: var(--link-accent-color);
        }
    
        .header-contact-link-svg {
            fill: currentColor;
            margin-right: 8px;
}
}
/* 1200px - */
@media screen and (min-width:1200px) {
    .header-container {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    .menu-link.current::after {
        bottom: -33px;
    }
    .header-contact {
        flex-direction: row;
        column-gap: 30px;
    }
        
}


/* 
.header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.page {
    display: flex;
    align-items: center;
    column-gap: 93px;
    flex-wrap: wrap;
    
}

.menu {
    column-gap: 50px;
    flex-wrap: wrap;
}
.menu-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 0.14;
    letter-spacing: 0.02em;
    
    color: #212121;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--link-accent-color);
}

.menu-link.current {
    color: var(--link-accent-color);
    position: relative;
}

.menu-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -32px;
}

.header-contact {
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.header-contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--link-accent-color);
    }

.header-contact-link-svg {
    fill: currentColor;
    margin-right: 8px;
} */

/* .header-contact-link-mail::before {
    content: url(../images/mail.svg);
    width: 16px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor;
}
.header-contact-link-phone::before {
    content: url(../images/phone.svg);
    margin-right:8px;
    width: 10px;
    height: 16px;
    fill: currentColor; 
    
} 

*/

/* ============== /HEADER/ ================*/


/* ============== HERO ================*/
.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/Hero/hero-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
screen and (min-resolution:192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background-mobile@2x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 3) and (max-width:767px),
screen and (min-resolution:288dpi) and (max-width:767px),
screen and (min-resolution: 3dppx) and (max-width:767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background-mobile@3x.jpg);
    }
}
/* Tablet */
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background-tablet@1x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution:192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background-tablet@2x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
screen and (min-resolution:288dpi) and (min-width: 768px),
screen and (min-resolution: 3dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background-tablet@3x.jpg);
    }
}
/* PC */
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution:192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background@2x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 3),
screen and (min-resolution:288dpi) and (min-width: 1200px),
screen and (min-resolution: 3dppx) and (min-width: 1200px) {

}


/* 0px - 767px */
@media screen and (max-width:767px) {
    .hero-container {
        padding: 118px 60px;
        text-align: center;
    
    
        }
    .hero-text {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
}
    .hero-button {
        padding-top:10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color:#FFFFFF;
        background: #188CE8;
        border-radius: 4px;
        border-style: none;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
    .hero-button:hover,
    .hero-button:focus {
        background: var(--accent-color);
    }


}
/* small - 330*/
@media screen and (max-width:330px) {
    .hero-button {
        font-size: 14px;

    }
}



/* 768 px - */
@media screen and (min-width:768px) {
    .hero-container {
        padding: 118px 204px;
        text-align: center;
    }
    .hero-text {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
}
    .hero-button {
        padding-top:10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color:#FFFFFF;
        background: #188CE8;
        border-radius: 4px;
        border-style: none;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
    .hero-button:hover,
    .hero-button:focus {
        background: var(--accent-color);
    }

}


/* 1200px - */
@media screen and (min-width:1200px) {
    .hero-container {
        padding: 200px 262px;
}
    .hero-text {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36em;
        }

}
    /* .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-background@3x.jpg);
    }
}
.hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    
    
}


.hero-text {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 694px;
    margin-left: auto;
    margin-right: auto;
}
.hero-button {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color:#FFFFFF;
    background: #188CE8;
    border-radius: 4px;
    border-style: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.hero-button:hover,
.hero-button:focus {
    background: var(--accent-color);
    

} */
/* ============== /HERO/ ================*/

/* ============== /BENEFITS/ ================*/






/* 0px - 767px */
@media screen and (max-width:767px) {
    .benefits {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    .benefits-list {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .benefits-list-item {
        max-width: 450px;
    }
    .benefits-list-item-svg {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;
        background: #F5F4FA;
        border-radius: 4px;
    }
    .benefits-list-item-svg-sprite {
        width: 70px;
        height: 70px;
        margin-left:auto;
        margin-right: auto;
    }
    .benefits-h3 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        text-align: center;
    }
    .benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }
}



/* 768 px - */
@media screen and (min-width:768px) {
    .benefits {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .benefits-list {
        display: flex;
        gap:30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefits-list-item {
        max-width: 354px;
    }
    .benefits-list-item-svg {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;
        background: #F5F4FA;
        border-radius: 4px;
    }
    .benefits-list-item-svg-sprite {
        width: 70px;
        height: 70px;
        margin-left:auto;
        margin-right: auto;
    }
    .benefits-h3 {
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }
    .benefits-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;

    }
}
/* 1200px - */
@media screen and (min-width:1200px) {
    .benefits-list-item {
        max-width: 270px;
    }
}





/* .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-list {
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}
.benefits-list-item {
    width: 270px;
}

.benefits-list-item-svg {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}
.benefits-list-item-svg-sprite {
    width: 70px;
    height: 70px;
    margin-left:auto;
    margin-right: auto;
}

.benefits-h3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
} */

/* ============== /BENEFITS/ ================*/

/* ============== OWR-WORK ================*/
.our-work {
    display: none;
}
@media screen and (min-width: 1200px) {
    .our-work {
        display: block;
    }
}
.our-work-container {
    margin-bottom: 94px;
}
.work-h2 {
    text-align: center;
    margin-bottom: 50px;
    
}
.work-list {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}
.work-list-item {
    width: calc((100% - 2 * 30px) / 3);
    position: relative;
}

.work-list-item-p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    top: 224px;
}


/* ============== /OWR-WORK/ ================*/



/* ============== TEAM ================*/
/* 0px - 767px */
@media screen and (max-width:767px) {
    .our-team {
        background: #F5F4FA;
    }
    .our-team-container {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .our-team-h2 {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17em;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; 
    }
    .our-team-list {
        display: flex;
        gap:30px;
        flex-direction: column;

    }
    .our-team-list-item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
        max-width: 450px;
    }
        .our-team-list-item-img {
            width:100%;

    }
    .our-team-descript {}
    
    .our-team-name {
        padding-top: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18em;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
        color: #212121;
    }
    .our-team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18em;
        letter-spacing: 0.03em;
        color: #757575;
        padding-bottom: 16px;
    }
    .our-team-social-list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        padding-bottom: 24px;
    }
    .our-team-social-list-item-a {
        width:44px;
        height: 44px;
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .our-team-social-list-item-a:hover,
    .our-team-social-list-item-a:focus {
        background-color: #2196F3;
        
    }
    .our-team-social-icon {
        fill:#AFB1B8;;
    }
    .our-team-social-list-item-a:hover .our-team-social-icon,
    .our-team-social-list-item-a:focus .our-team-social-icon{
        fill: #FFFFFF;
        
    }
}
/* 768 px - */
@media screen and (min-width:768px) {
        .our-team {
        background: #F5F4FA;
    }
    .our-team-container {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .our-team-h2 {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17em;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; 
    }
    .our-team-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

    }
    .our-team-list-item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
        max-width: 354px;
    }
    .our-team-list-item-img {
        width:100%;

    }
    .our-team-descript {}
    
    .our-team-name {
        padding-top: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18em;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
        color: #212121;
    }
    .our-team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18em;
        letter-spacing: 0.03em;
        color: #757575;
        padding-bottom: 16px;
    }
    .our-team-social-list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        padding-bottom: 24px;
    }
    .our-team-social-list-item-a {
        width:44px;
        height: 44px;
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    }
    .our-team-social-list-item-a:hover,
    .our-team-social-list-item-a:focus {
        background-color: #2196F3;
        
    }
    .our-team-social-icon {
        fill:#AFB1B8;;
    }
    .our-team-social-list-item-a:hover .our-team-social-icon,
    .our-team-social-list-item-a:focus .our-team-social-icon{
        fill: #FFFFFF;
        
    }

}
/* 1200px - */
@media screen and (min-width:1200px) {
    .our-team-list-item {
        max-width: 270px;
    }
}



/* .our-team {
    background: #F5F4FA;
}
.our-team-container {
    text-align: center;
    padding-top:94px;
    padding-bottom: 94px;
}
.our-team h2 {
    margin-bottom: 50px;
}
.our-team-list {
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;

}
.our-team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    width: calc((100% - 3 * 30px) / 4);
}
.our-team-list-item-img {

}
.our-team-descript {
    
}
.our-team-name {
    padding-top:30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    /* letter-spacing: 0.03em;
    padding-bottom: 10px;

    color: #212121;
}
.our-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 16px;
}
.our-team-social-list {
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
}

.our-team-social-list-item-a {
    width:44px;
    height: 44px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
.our-team-social-list-item-a:hover,
.our-team-social-list-item-a:focus {
    background-color: #2196F3;
    
}
.our-team-social-icon {
    fill:#AFB1B8;;
}
.our-team-social-list-item-a:hover .our-team-social-icon,
.our-team-social-list-item-a:focus .our-team-social-icon{
    fill: #FFFFFF;
    
} */ 

/* ============== /TEAM/ ================*/
/* ===============CLIENT================= */
/* 0px - 767px */
@media screen and (max-width:767px) {
    .client-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .client-h2 {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17em;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .client-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .client-list-item {
        max-width: 210px;
    }
    .client-list-item-a {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 52px;
    padding-right: 52px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    }
    .client-list-item-a:hover,
    .client-list-item-a:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
    .client-list-item-icon{
        fill: #AFB1B8;;
    }
    .client-list-item-a:hover .client-list-item-icon,
    .client-list-item-a:focus .client-list-item-icon {
        fill:#2196F3;
    }
}

/* 768 px - */
@media screen and (min-width:768px) {
    .client-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .client-h2 {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17em;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .client-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    .client-list-item {
        max-width: 226px;
    }
    .client-list-item-a {
        display: flex;
        padding:16px 60px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    }
    .client-list-item-a:hover,
    .client-list-item-a:focus {
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
    .client-list-item-icon{
        fill: #AFB1B8;;
    }
    .client-list-item-a:hover .client-list-item-icon,
    .client-list-item-a:focus .client-list-item-icon {
        fill:#2196F3;
    }
}


/* 1200px - */
@media screen and (min-width:1200px) {
    .client-list-item {
        max-width: 170px;
    }
    .client-list-item-a {
        padding: 16px 32px;
    }    
}

/* .client-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-h2 {
    margin-bottom: 50px;
    text-align: center;
}
.client-list {
    gap: 30px;
}
.client-list-item {
    width: calc((100% - 5 * 30px)/6);
}
.client-list-item-a {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.client-list-item-a:hover,
.client-list-item-a:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
}
.client-list-item-icon{
    fill: #AFB1B8;;
}
.client-list-item-a:hover .client-list-item-icon,
.client-list-item-a:focus .client-list-item-icon {
    fill:#2196F3;
} */

/* ==============/CLIENT/================= */


/* ============== FOOTER ================*/





/* 0px - 767px */
@media screen and (max-width:767px) {
    .footer {
        background: #2F303A;
        
    }
    .footer-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-address {
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-address-street {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;

    }
    .footer-contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }
    .footer-list-item-h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .footer-list-social-list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    .footer-list-social-list-item-a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

    .footer-list-social-list-item-a:hover,
    .footer-list-social-list-item-a:focus {
        background-color: #2196F3;

    }

    .footer-list-social-icon {
        fill: #FFFFFF;
    }
    .footer-email-form {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .footer-list-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-email-form-item {
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: transparent;
        padding: 15px;
        max-width: 450px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25em;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-email-form-btn {
        padding: 10px 29px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color: #FFFFFF;
        background: #188CE8;
        border-radius: 4px;
        border-style: none;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        display: flex;
        column-gap: 10px;
        fill: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-email-form-btn:hover,
    .footer-email-form-btn:focus {
        background: var(--accent-color);
    } 
}

/* 768 px - */
@media screen and (min-width:768px) {
    .footer {
        background: #2F303A;
        
    }
    .footer-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-address {
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-address-street {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;

    }
    .footer-contact {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-list {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 165px;
        justify-content: center;
    }
    .footer-list-item-h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .footer-list-social-list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    .footer-list-social-list-item-a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

    .footer-list-social-list-item-a:hover,
    .footer-list-social-list-item-a:focus {
        background-color: #2196F3;

    }

    .footer-list-social-icon {
        fill: #FFFFFF;
    }
    .footer-email-form {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .footer-list-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-email-form-item {
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: transparent;
        padding: 15px;
        width: 450px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25em;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-email-form-btn {
        padding: 10px 29px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        color: #FFFFFF;
        background: #188CE8;
        border-radius: 4px;
        border-style: none;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        display: flex;
        column-gap: 10px;
        fill: #ffffff;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-email-form-btn:hover,
    .footer-email-form-btn:focus {
        background: var(--accent-color);
    } 
}

/* 1200px - */
@media screen and (min-width:1200px) {
    .footer-list {
        text-align: start;
        justify-content: space-between;
        gap:0;
    }
    .footer-list-item:not(:first-child){
        margin-top: 12px;
    }
    .footer-email-form {
        gap:0;
    }

    .footer-list-block {
        display: flex;
        gap: 12px;
        flex-direction: row;
    }
    .footer-email-form-item {
        width: 358px;
    }
}



/* .footer {
    background: #2F303A;
    
}
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-address-street {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-list {
    justify-content: space-between;
}
.footer-list-item-h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 15px;
}
.footer-list-social-list {
    justify-content: center;
    column-gap: 10px;
}

.footer-list-social-list-item-a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.footer-list-social-list-item-a:hover,
.footer-list-social-list-item-a:focus {
    background-color: #2196F3;

}

.footer-list-social-icon {
    fill: #FFFFFF;
}

.footer-email-form {
    display: flex;
    gap: 12px;
}
.footer-email-form-item {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
    width: 358px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-email-form-btn {
    padding: 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background: #188CE8;
    border-radius: 4px;
    border-style: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    column-gap: 10px;
    fill: #ffffff;
}
.footer-email-form-btn:hover,
.footer-email-form-btn:focus {
    background: var(--accent-color);
} */
/* ============== /FOOTER/ ================*/


/* @@@--------------- PORTFOLIO -------------------@@@*/


/* ============== BODY-BLOCKS ================*/



.body-blocks-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.filter-menu-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}


.filter-menu-button {
    display: flex;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    border-radius: 4px;
    padding: 9px 22px 9px 22px;
}

.filter-menu-button:hover,
.filter-menu-button:focus {
    background: #2196F3;
    color: #FFFFFF;
    
}


.body-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.body-blocks-description {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.body-blocks-imgwrapper {
    position: relative;
    overflow: hidden;
}

.body-blocks-imgwrapper-overlay {
    background: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55em;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    /* overflow-y: scroll; */

    transition: transform 500ms linear;
    left: 0;
    top: 0;
    padding: 63px 24px;
    position: absolute;
    transform: translate(0, 100%);
    height: 100%;
}
.body-blocks-main-item-a:hover .body-blocks-imgwrapper-overlay,
.body-blocks-main-item-a:focus .body-blocks-imgwrapper-overlay {
    transform: translate(0.0);
}
.body-blocks-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.body-block-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.body-blocks-main-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.body-blocks-main-item {
    max-width: 370px;


}
.body-blocks-main-item-a {
    display: flex;
    flex-direction: column;
}
.body-blocks-main-item-a:hover,
.body-blocks-main-item-a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.body-blocks-main-bar-img {
    width: 100%;
}

/* 0px - 767px */
@media screen and (max-width:767px) {
    .body-portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .filter-menu-list {
        display: flex;
        gap: 15px 8px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
        .body-blocks-container {
            row-gap: 40px;
        }
    .body-blocks-main-item {
        max-width: 450px;
    }
}

/* 768 px - */
@media screen and (min-width:768px) {
    .body-portfolio {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .body-blocks-container {
            row-gap: 30px;
        }
    .body-blocks-h3-tablet {
        font-size: 17px;
    }
}

/* 1200px - */
@media screen and (min-width:1200px) {
    .body-blocks-h3-tablet {
            font-size: 18px;
        }
}

/* ============== /BODY-BLOCKS/ ================*/


/* @@@------------- /PORTFOLIO/ -------------------@@@*/



/* ==================== POPUP ========================== */

.popup {
    position: fixed;
    top: 0;
    left: 0;        
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: opacity var(--transition) , visibility var(--transition);
}
.popup.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    width: 528px;
    height: 580px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-close-btn:hover .modal-close-btn-svg,
.modal-close-btn:hover .modal-close-btn-svg {
    fill: var(--accent-color);
   
}
.popup-block {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.popup-block-p {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}
.popup-form-input-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16em;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}
.popup-form-label {
    margin-bottom: 10px;
    display: block;
}
.popup-form-input-block {
    position: relative;
    display: block;
}

.popup-form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    color: #000000;
}

.popup-form-input:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.popup-form-input:focus + .popup-form-input-icon {
    fill: rgba(33, 150, 243, 1);
}
.popup-form-input-icon {
    fill:#212121;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);

}
.popup-form-input-user_text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
}
.popup-form-input-user_text::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

}
.popup-form-input-user_text:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.popup-form-terms-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}
.popup-form-terms-label::before {
    display: block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid rgba(33, 33, 33, 1);
    cursor: pointer;
    content: '';
    margin-right: 8px;
}


.popup-form-input-check:checked + .popup-form-terms-label::before {
    background-color:#2196F3;
    background-image: url(../images/form-terms.svg);
    border-radius: 2px;
    background-size: 13px 10px;
    border:none;
    background-repeat: no-repeat;
    background-position: center center;
}
.popup-form-input-check:focus +.popup-form-terms-label::before {
    border: 2px solid #2196F3;
}

.popup-form-label-terms-desc {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
        color: #757575;
}
.popup-form-label-terms-desc-link {
    color: #2196F3;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}
.popup-form-button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    padding: 10px 56px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;


}

.popup-form-button:hover, 
.popup-form-button:focus {
    background: #188CE8;

}
/* 0px - 767px */
@media screen and (max-width:767px) {
    .modal {
        width: 450px;
        height: 609px;
    }
    .popup-form-input-user_text::placeholder {
        font-size: 14px;

    }
    
}
/* 0px - 450 px */
@media screen and (max-width:450px) { 
    .modal {
        width: 100%;
        }
        .popup-form-label-terms-desc {
        font-size: 12px;
    }
    .popup-form-label-terms-desc-link {
        font-size: 14px;
    }

    .popup-form-terms-label::before {
        margin-right: 7px;
    }
}

/* 768 px - */
@media screen and (min-width:768px) {
    .modal {
        width: 450px;
        height: 609px;
    }
}

/* 1200px - */
@media screen and (min-width:1200px) {
    .modal {
            width: 528px;
            height: 581px;
        }
}



/* ==================== /POPUP ========================== */