:root {
    --accent-color:#2196F3;
    --link-accent-color:#2196F3;
    --primary-font:'Roboto', sans-serif;
    --logo-font:'Raleway',sans-serif;
}


.list {
    list-style: none;
    display: flex;
}
/* */

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ============== COMPONENTS ================*/
.h2-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #212121;
}


.logo-start {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}
.menu-link.current {
    color:var(--link-accent-color)
}

.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow:hidden;
}
/* ============== /COMPONENTS ================*/


/* ============== HEADER ================*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page {
    display: flex;
    align-items: center;
    
}

.menu {
    display: flex
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.logo-end-header {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.menu-list {

    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.menu-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 0.14;
    letter-spacing: 0.02em;
    
    color: #212121;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--link-accent-color);
}
.header-contact {
    }


.header-contact-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--link-accent-color);
}
.top-email {
    margin-left: auto;
    margin-right: 40px;
}
/* ============== /HEADER/ ================*/


/* ============== HERO ================*/
.hero {
    background: #2F303A;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}


.hero-text {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 694px;
    margin-left: auto;
    margin-right: auto;
}
.hero-button {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color:#FFFFFF;
    background: #188CE8;
    border-radius: 4px;
    border-style: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.hero-button:hover,
.hero-button:focus {
    background: var(--accent-color);
    

}
/* ============== /HERO/ ================*/

/* ============== /BENEFITS/ ================*/
.benefits {
    padding-top: 95px;
    padding-bottom: 95px;
}
.benefits-list-item {
    
    width: 270px;
}
.benefits-list-item:not(:last-child) {

    margin-right: 50px;
}
.benefits-h3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}

/* ============== /BENEFITS/ ================*/

/* ============== OWR-WORK ================*/
.our-work {
    padding-bottom: 94px;
}
.work-h2 {
    text-align: center;
    padding-bottom: 50px;
}
.work-list {
    display: flex
}

.work-img-item {
    display: flex;
}
.work-img-item-list:not(:last-child) {
    margin-right: 30px;
}

/* ============== /OWR-WORK/ ================*/



/* ============== TEAM ================*/
.our-team {
    background: #F5F4FA;
    text-align: center;
    padding-top:94px;
    padding-bottom: 94px;
}
.our-team h2 {
    padding-bottom: 50px;
}
.our-team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}
.our-team-list-item:not(:last-child) {
    margin-right: 30px;

}
.our-team-descript {
    padding-bottom: 30px;
    padding-top:30px;
}
.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    letter-spacing: 0.03em;
    padding-bottom: 10px;

    color: #212121;
}
.our-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #757575;
}


/* ============== /TEAM/ ================*/


/* ============== FOOTER ================*/
.footer {
    background: #2F303A;
    padding-top: 60px;  
    padding-bottom: 60px;
}

.logo-end-footer {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 30px;
    display: block;
}

.footer-address {
    font-style: normal;

}
.footer-address-text:not(:last-child) {
    margin-bottom: 9px;
}
.footer-address-street {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.footer-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ============== /FOOTER/ ================*/


/* @@@--------------- PORTFOLIO -------------------@@@*/
/* ============== FILTER MENU ================*/
.filter-menu-list {
    margin-bottom: 50px;
    justify-content: center;
}
.filter-menu-item:not(:last-child) {
    margin-right: 8px;
 
}

.filter-menu-button {
    display: flex;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    border-radius: 4px;
    padding: 9px 22px 9px 22px;
}

.filter-menu-button:hover,
.filter-menu-button:focus {
    background: #2196F3;
    color: #FFFFFF;
    
}



/* ============== /FILTER MENU/ ================*/

/* ============== BODY-BLOCKS ================*/
.body-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.body-blocks-description {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.body-block-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.body-block-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}
.body-blocks-main-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.body-blocks-main-item {

}

.body-blocks-main-bar-img {
    
}


/* ============== /BODY-BLOCKS/ ================*/


/* @@@------------- /PORTFOLIO/ -------------------@@@*/